@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Multiple selection area */
:root {
    --headingcolor: #3A3A3A;
    --pcolor: #787885;
    --btncolor: #E02C6D;
    --footercolor: #000000;
    --btninsidecolor: #FFFFFF;
    --hovercolor: #e7d6dd;
    --starcolor: #FB8200;
}
    .work-sans-font {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    .scenter {
        max-width: 1200px;
        margin: 0 auto;
    }

    .flex {
        display: flex;
    }

    .btn {
        border-radius: 20px;
        padding: 10px 24px;
        background-color: var(--btncolor);
        border: none;
        color: var(--btninsidecolor);
        font-size: 1rem;
    }

    /* Random selection area */
    /* section1 styling place */
    .section1 {
        margin-bottom: 70px;
    }

    .nav {
        justify-content: space-between;
        align-items: center;
    }

    .nav1stdiv {
        font-size: 1.5rem;
        font-weight: bold;
        color: var(--headingcolor);
    }

    .nav2nddiv ul {
        display: flex;
        list-style-type: none;
        padding: 0px;
    }

    .nav2nddiv ul li {
        padding: 0px 17px;
        color: var(--headingcolor);
        font-size: 16px;
        font-weight: 600;
        cursor: pointer;
        border: .5px solid #ffffff;

    }

    .nav2nddiv ul li:hover {
        background-color: var(--hovercolor);
        border-radius: 20px;
        border: .5px solid rgb(73, 65, 65);
    }
    /* Section2 css styling area  */

    .section2 {
        height: 475px;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 70px;
    }

    .section2fDiv h1 {
        font-size: 3.37rem;
        color: var(--headingcolor);
        width: 36.37rem;
        margin-bottom: 16px;
    }

    .section2fDiv p {
        font-size: 1rem;
        color: var(--pcolor);
        width: 31.5rem;
        margin-bottom: 16px;
    }

    .section2sDiv {
        background-image: url(./images/Circle\ design.svg);
        background-repeat: no-repeat;
        background-position: center;
        padding: 25px;
    }

    .section2sDiv img {
        width: 100%;
    }
/* Section2 styling area logo showup */
.section3{
    margin-bottom: 140px;
    height: 110px;
    text-align: center;
    margin-top: 20px;
}
.section3 ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.section4{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;       
    margin-bottom: 100px;
} 

.section4 h1{
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 7rem;
    color: var(--headingcolor);
    margin-bottom: 30px;
}

 .imgContainer{
    display: grid;
    width: 100%; 
    grid-template-columns:repeat(3, 1fr);
    gap: 30px; 
}
 .imgContainer .imgdiv{
    box-shadow: 2px 2px 18px rgba(0, 0, 0, 0.096);
    padding: 15px; 
    display: flex;
    flex-direction: column; 
    border-radius: 5px; 
}
 .imgContainer .imgdiv img{
    width: 100%;
    margin-bottom: 16px; 
}
 .imgContainer .imgdiv h2{
    color: var(--headingcolor);
    font-size: 2rem; 
    margin: 0 0 6px 0;
    margin: 0;
}
 .imgContainer .imgdiv h3{
    margin: 0;
    font-size: 1.6rem;
    color: var(--headingcolor); 

 }
 .imgContainer .imgdiv p{
    color: var(--pcolor);
    margin: 0;
}
 .imgContainer .imgdiv p span{
    color: var(--starcolor);
}
.checked::before{
    color: var(--starcolor);
}
.unchecked::before{
    color: black; 
}

.btn2{
    color: var(--btncolor);
    background-color: var(--btninsidecolor);
    margin-top: 15px;
    align-self: flex-end;
}